@font-face {
  font-family: "HypatiaSansPro";
  src: url("../fonts/HypatiaSansPro-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HypatiaSansPro";
  src: url("../fonts/HypatiaSansPro-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "HypatiaSansPro";
  font-weight: 400;
  background: url(../images/slideOne.png) no-repeat top;

  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
  }

  h4 {
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
  }
}

header {
  .vnavbar {
    overflow: hidden;

    .service-info-menu {
      margin-top: 20px;

      .service-info {
        padding: 0px;

        li {
          text-transform: uppercase;
          display: inline;

          a {
            padding: 12px 8px;
            font-size: 12px;
            line-height: 22px;
            color: #445569;
            text-decoration: none;
          }
        }
      }
    }

    ul {
      list-style: none;
    }

    .navigation-menu {
      margin: 16px 0px;

      a {
        padding: 12px 8px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: #445569;
          background-color: #eee;
        }
      }

      .dropdown-large {
        display: inline;

        &:hover {
          background-color: #eee;

          .dropdown-menu-large {
            margin-left: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
            z-index: 10;

            li {
              display: flex;
            }
          }
        }

        .dropdown-link {
          background-color: inherit;
        }

        .dropdown-menu-large {
          display: none;
          position: absolute;
          left: 0;
          background-color: #eee;
          -webkit-box-shadow: 0px 6px 5px -2px rgba(51, 51, 51, 1);
          -moz-box-shadow: 0px 6px 5px -2px rgba(51, 51, 51, 1);
          box-shadow: 0px 6px 5px -2px rgba(51, 51, 51, 1);
          width: 100%;
          z-index: 1;

          .container {
            li {
              padding: 0px;
              font-size: 13px;
              color: #64697e;

              ul {
                padding: 0px;

                .dropdown-header {
                  margin: 16px 0px 8px 0px;
                  color: #1a273e;
                  font-size: 13px;
                  line-height: 20px;
                  font-weight: 700;
                  text-transform: uppercase;
                  white-space: normal;

                  &.underlined::after {
                    margin-top: 20px;
                    content: "";
                    display: block;
                    position: absolute;
                    width: 90%;
                    border-bottom: 2px solid #fadb44;
                  }
                }
              }
            }

            a {
              float: left;
              color: #1a273e;
              padding: 0px;
              border-radius: 0px;
              text-transform: unset;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .contacts {
    li {
      float: none;
    }

    .callback {
      margin-top: 14px;
      padding-top: 4px;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 190px;
      outline: none;
      border: 1px solid #fadb44;
      border-radius: 20px;
      background-color: transparent;
    }
    .service {
      font-size: 18px;
      margin-top: 16px;

      .phone {
        font-weight: 700;
      }

      .vl {
        margin-left: 2px;
        margin-right: 4px;
        border-left: 1px solid rgb(28, 36, 28);
        height: 500px;
      }

      .fa-search {
        font-size: 14px;
      }
    }
  }
}

.body-content {
  .slider {
    margin-top: 140px;

    .slide {
      width: 400px;

      h1 {
        color: #ffffff;
      }

      h2 {
        span {
          padding: 4px;
          color: #333333;
          background-color: #fadb44;
        }
      }

      p span {
        line-height: 21px;
        background-color: #ffffff;
      }

      .details {
        padding-top: 2px;
        outline: none;
        border: 3px solid #ffffff;
        border-radius: 14px;
        background-color: #fadb44;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 22px;
        width: 230px;
      }
    }
  }

  .examples {
    margin-top: 80px;
    overflow: hidden;
    text-transform: uppercase;
    color: #ffffff;

    & > div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 14px;
      border: 4px solid #ffffff;
      float: left;
      position: relative;
    }

    .cottage {
      width: 26%;
      height: 318px;
      background-color: aqua;
      background-image: url("../images/cottage.png");
      border-right: none;
    }

    .other-buildings {
      padding: 0px;
      width: 46%;
      height: 318px;
      background-color: cornflowerblue;
      border: 2px solid #ffffff;

      & > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 14px;
        border: 2px solid #ffffff;
        float: left;
        width: 33.3%;
        height: 157px;
        position: relative;
      }

      .houses {
        background-image: url("../images/houses.png");
      }
      .bath {
        background-image: url("../images/bath.png");
      }
      .building {
        background-image: url("../images/building.png");
      }
      .village-houses {
        background-image: url("../images/village-houses.png");
      }
      .village-buildings {
        background-image: url("../images/village-buildings.png");
      }
      .individual-projects {
        background-image: url("../images/individual-projects.png");
      }
    }

    .benefits {
      padding: 0px;
      width: 28%;
      height: 318px;
      background-color: #fadb44;
      border-left: none;
      border-right: none;
      border-top: none;
      position: relative;

      .uzor {
        position: absolute;
        right: 0px;
        height: 100%;
        width: 20px;
        background-color: #a4a8b6;
        opacity: 0.2;
      }

      ul {
        padding-left: 0px;
        list-style: none;

        .benefit {
          padding: 17px 10px 17px 5px;

          &:not(:nth-child(3n + 3)) {
            border-bottom: 1px solid rgba(51, 51, 51, 0.2);
          }

          .benefit-image {
            margin-right: 8px;
            float: left;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 56px;
            min-height: 60px;
          }

          .benefit-description {
            //margin-right: 10px;
            color: #333333;
            line-height: 14px;

            h4 {
              margin-bottom: 0px;
            }

            span {
              font-size: 12px;
              line-height: 18px;
              text-transform: none;
            }
          }
        }
      }
    }

    .house-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .show-details {
      position: absolute;
      bottom: 6px;
      font-size: 18px;

      a {
        color: #fadb44;
      }
    }
  }
}

footer {
  margin-top: 45px;
  padding-top: 30px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #efefef;

  ul {
    padding-left: 0px;
    list-style: none;

    a,
    .nav-title {
      font-size: 11px;
      line-height: 25px;
    }

    a {
      color: #a4a8b6;
      &:hover {
        color: #a4a8b6;
      }
    }

    .nav-title,
    .nav-title a {
      text-transform: uppercase;
      color: #64697e;
      font-weight: 700;
    }
  }
  .contacts {
    padding-right: 0px;
    padding-left: 0px;

    h1 {
      margin-top: 0px;
      font-size: 39px;
    }

    .cooperation,
    .autentification {
      button {
        margin-top: 2px;
        margin-left: 4px;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }

    .cooperation {
      margin-bottom: 10px;
    }

    .autentification {
      border: 2px solid #ffffff;

      .enter {
        margin-left: 16px;
      }

      .vl {
        margin-left: 2px;
        margin-right: 4px;
        border-left: 1px solid rgb(28, 36, 28);
        height: 500px;
      }
    }

    .social-networks {
      margin-top: 20px;
      text-align: right;

      .vk,
      .ok,
      .fb {
        margin: 6px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;
      }

      .vk {
        background-image: url("../images/vk.png");
      }

      .ok {
        background-image: url("../images/ok.png");
      }

      .fb {
        background-image: url("../images/fb.png");
      }
    }

    .service {
      margin-top: 20px;
      float: right;
      text-align: right;
      white-space: nowrap;
    }
  }
}
